<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h4 class="m-0 lobster">Empleos Paraguay</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link rowdies text-white" href="#">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rowdies text-white" href="#">Artículos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 my-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-primary">PUBLICACIONES</h4>
                        <div class="card mb-3 border-0">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-auto">
                                    <img src="assets/images/1.jpg" class="card-img mx-2" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0">Se busca vendedores de call center Se busca vendedores de call center</h5>
                                        <p class="card-text"><small class="text-muted">
                                                <fa-icon [icon]="icons.calendar" class="mr-1"></fa-icon> 23/02/2020
                                            </small></p>
                                        <button class="btn btn-sm btn-secondary">Ver detalles</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-custom"> 
                        </div>
                        <div class="card mb-3 border-0">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-auto">
                                    <img src="assets/images/1.jpg" class="card-img mx-2" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0">Se busca vendedores de call center Se busca vendedores de call center</h5>
                                        <p class="card-text"><small class="text-muted">
                                                <fa-icon [icon]="icons.calendar" class="mr-1"></fa-icon> 23/02/2020
                                            </small></p>
                                        <button class="btn btn-sm btn-secondary">Ver detalles</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-custom"> 
                        </div>
                        <div class="card mb-3 border-0">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-auto">
                                    <img src="assets/images/1.jpg" class="card-img mx-2" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0">Se busca vendedores de call center Se busca vendedores de call center</h5>
                                        <p class="card-text"><small class="text-muted">
                                                <fa-icon [icon]="icons.calendar" class="mr-1"></fa-icon> 23/02/2020
                                            </small></p>
                                        <button class="btn btn-sm btn-secondary">Ver detalles</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-custom"> 
                        </div>
                        <div class="card mb-3 border-0">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-auto">
                                    <img src="assets/images/1.jpg" class="card-img mx-2" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0">Se busca vendedores de call center Se busca vendedores de call center</h5>
                                        <p class="card-text"><small class="text-muted">
                                                <fa-icon [icon]="icons.calendar" class="mr-1"></fa-icon> 23/02/2020
                                            </small></p>
                                        <button class="btn btn-sm btn-secondary">Ver detalles</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-custom"> 
                        </div>
                        <div class="card mb-3 border-0 border border-bottom border-primary">
                            <div class="row no-gutters">
                                <div class="col-md-4 my-auto">
                                    <img src="assets/images/1.jpg" class="card-img mx-2" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0">Se busca vendedores de call center Se busca vendedores de call center</h5>
                                        <p class="card-text"><small class="text-muted">
                                                <fa-icon [icon]="icons.calendar" class="mr-1"></fa-icon> 23/02/2020
                                            </small></p>
                                        <button class="btn btn-sm btn-secondary">Ver detalles</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-custom"> 
                        </div>
                        <div class="btn btn-block btn-lg w-50 mx-auto btn-primary lobster d-none d-md-block">Ver más publicaciones</div>
                        <div class="btn btn-block btn-primary lobster d-md-none">Ver más publicaciones</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h6 class="mt-md-4">CATEGORÍAS</h6>
            <div class="row mb-4">
                <div class="col-12">
                    <a href="#">Publicaciones</a><br>
                    <a href="#">Artículos</a><br>
                    <a href="#">Como ganar dinero en internet</a><br>
                    <a href="#">¿Dónde cargar mi CV?</a><br>
                    <a href="#">Sitios de empleos de Paraguay</a>
                </div>
            </div>
            <h6>LOS MÁS LEÍDOS</h6>
            <div class="last-p d-flex">
                <div class="last-p-img">
                    <img src="assets/images/1.jpg">
                </div>
                <div class="last-p-des">
                    <p><span class="badge badge-primary">Limpieza</span></p>
                    <a class="rowdies text-black">Se busca personal para limpieza</a>
                </div>
            </div>
            <div class="last-p d-flex">
                <div class="last-p-img">
                    <img src="assets/images/1.jpg">
                </div>
                <div class="last-p-des">
                    <p><span class="badge badge-primary">Limpieza</span></p>
                    <a class="rowdies text-black">Se busca personal para limpieza</a>
                </div>
            </div>
            <div class="last-p d-flex">
                <div class="last-p-img">
                    <img src="assets/images/1.jpg">
                </div>
                <div class="last-p-des">
                    <p><span class="badge badge-primary">Limpieza</span></p>
                    <a class="rowdies text-black">Se busca personal para limpieza</a>
                </div>
            </div>
            <h6 class="mt-md-4">¿DÓNDE CARGAR MI CV?</h6>
            <div class="row mb-4">
                <div class="col-12">
                    <p class="m-0 text-primary w-50">BUSCO JOBS</p>
                    <p class="m-0 text-primary w-50">PARAEMPLEO</p>
                    <p class="m-0 text-primary w-50">PIVOT</p>
                    <p class="m-0 text-primary w-50">PARAGUAY CONCURSA</p>
                    <p class="m-0 text-primary w-50">SITE 5</p>
                    <div class="btn btn-block btn-primary lobster w-75 mx-auto mt-1">Ver todos</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>ARTÍCULOS</h4>
            <div class="owl-carousel owl-theme">
                <div class="card shadow-sm">
                    <img src="assets/images/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text rowdies">
                            Aspectos importantes para una entrevista
                        </p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <img src="assets/images/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text rowdies">
                            Aspectos importantes para una entrevista
                        </p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <img src="assets/images/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text rowdies">
                            Aspectos importantes para una entrevista
                        </p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <img src="assets/images/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text rowdies">
                            Aspectos importantes para una entrevista
                        </p>
                    </div>
                </div>
                <div class="card shadow-sm">
                    <img src="assets/images/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text rowdies">
                            Aspectos importantes para una entrevista
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel slide mt-2 mb-4 w-75 mx-auto" data-ride="carousel">
                <div class="carousel-inner">
                    <a href="https://www.onlinecv.es/" class="carousel-item active">
                        <img src="assets/images/crear-cv.png" class="d-block w-100">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Empleos Paraguay 2020</p>
    </div>
    <!-- /.container -->
</footer>