<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-2 bg-light">
                    <li class="breadcrumb-item"><a style="cursor: pointer;" routerLink="/home" class="text-primary">Página Principal</a></li>
                    <li class="breadcrumb-item"><a class="text-primary">Sitios</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Sitios de empleos</h5>
        </div>
        <div *ngFor="let i of sitios" class="col-12 col-md-6 col-lg-4">
            <div class="card my-2 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">{{i.nombre}}</h5>
                    <div class="text-center">
                        <a href="{{i.url}}" class="btn btn-secondary">Ir al sitio</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mx-auto">
            <a href="https://app.onlinecv.es/editor/cv/73ccfe87-6cad-4bda-97cb-f25854e9ed86/templates" class="btn btn-primary btn-lg btn-block my-4 text-white">Crear mi CV online</a>
        </div>
    </div>
</div>
