<div class="row m-0 min-vh-100 align-items-center bg-primary">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="mb-1 mt-2" src="assets/images/paraguay.png" alt=""  style="width: 32px;height: auto;">
                        <h6 class="text-primary text-center mb-4 font-weight-bolder">Empleos Paraguay</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1">
                        <label for="">Usuario</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 offset-sm-1">
                        <label for="">Contraseña</label>
                        <div class="input-group mb-5">
                            <input type="{{showPass?'text':'password'}}" class="form-control">
                            <div class="input-group-append">
                                <span style="width: 46px;" class="input-group-text">
                                    <i (click)="showPass=!showPass" class="fas fa-eye{{showPass?'-slash':''}} pass"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 offset-sm-1">
                        <button type="button" class="btn btn-primary btn btn-block btn-login mb-5">INGRESAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>