.h {
    min-height: calc(100vh - 58.75px);
}

.list-group-item {
    cursor: pointer;
    color: white;
    border:none;
}

.list-group-item:hover {
    color: white;
    text-decoration: none;
}

.m-nav {
    margin-top: 58.75px;
}