<div class="container">
    <div class="row">
        <div class="col-12" *ngIf="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-3x text-primary"></i>
                <h4>Cargando...</h4>
            </div>
        </div>
        <div *ngFor="let i of sitios" class="col-12 col-md-6 col-lg-4">
            <div class="card my-2 shadow-sm animate__animated animate__fadeIn">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">{{i.nombre}}</h5>
                    <div class="text-center">
                        <a href="{{i.url}}" class="btn btn-primary text-dark font-weight-bolder">IR AL SITIO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mx-auto">
            <a href="https://app.onlinecv.es/editor/cv/73ccfe87-6cad-4bda-97cb-f25854e9ed86/templates" class="btn btn-primary btn-lg btn-block my-4 text-dark font-weight-bolder">CREAR MI CV ONLINE</a>
        </div>
    </div>
</div>
