<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body" style="padding: 15px 10px;">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="text-secondary">FILTROS</h6>
                            <hr class="bg-primary"/>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <label class="text-dark montserrat" style="font-weight: 700;" for="">ÁREAS</label>
                                    <div class="input-group mb-3">
                                        <ng-select notFoundText="Sin resultados" style="width: 100%;" [multiple]="true" [searchable]="true"
                                            [items]="areas" bindLabel="nombre" bindValue="nombre"
                                            [(ngModel)]="filters.area">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label class="text-dark montserrat" style="font-weight: 700;" for="">CIUDADES</label>
                                    <div class="input-group mb-3">
                                        <ng-select notFoundText="Sin resultados" style="width: 100%;" [multiple]="true" [searchable]="true"
                                            [items]="ciudades" bindLabel="Municipio" bindValue="Municipio"
                                            [(ngModel)]="filters.ubicacion">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-12 text-center text-lg-right">
                                    <button (click)="limpiarFiltros()" class="btn btn-secondary btn-sm text-white font-weight-bolder mr-2 my-1">LIMPIAR FILTROS</button>
                                    <button (click)="empleos=filter(empleos)" class="btn btn-primary btn-sm text-dark font-weight-bolder my-1">BUSCAR</button>
                                </div>
                            </div>
                            <hr class="bg-primary"/>
                        </div>
                        <div class="col-12" *ngIf="loading">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x text-primary"></i>
                                <h4>Cargando...</h4>
                            </div>
                        </div>
                        <div class="col-12 animate__animated animate__fadeIn" *ngIf="!loading">
                            <h6 class="text-secondary">RESULTADOS ({{empleos.length}})</h6>
                            <div class="list-group list-group-flush">
                                <li *ngFor="let i of empleos | paginate: { id: 'server', itemsPerPage: itemspp, currentPage: p}"
                                    class="list-group-item">
                                    <h4 class="d-none d-sm-block">{{i.titulo}}</h4>
                                    <h5 class="d-sm-none">{{i.titulo}}</h5>
                                    <h6 class="text-secondary">
                                        <i class="fas fa-map-marker mr-1 text-primary"></i>{{i.ubicacion}}
                                    </h6>
                                    <h6 class="text-secondary">
                                        <i class="fas fa-cog mr-1 text-primary"></i>Área: {{i.area}}
                                    </h6>
                                    <p class="text-secondary fecha">Publicado el {{i.fecha}}</p>
                                    <div class="mt-2 text-center text-lg-right">
                                        <button [routerLink]="['/publicacion', i.id]" type="button"
                                            class="btn btn-primary text-dark font-weight-bolder">VER DETALLES</button>
                                    </div>
                                </li>
                            </div>
                            <hr class="bg-primary"/>
                        </div>
                        <div class="col-12 text-center" *ngIf="!loading">
                            <pagination-controls class="my-pagination text-center" id="server"
                                (pageChange)="pageChange($event)" maxSize="10" previousLabel="" nextLabel="">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>